<h1>Review Your Order:</h1>
<% @total = 0 %>
<% @cart.each do |product| %>
  <%= link_to product.name, product_path(product) %>
  <p>Quantity:  <input type="number" size="20px"></p>
  <p>Price: <%= product.price %></p>
  <% @total += product.price %>
  <%= button_to "Remove", remove_from_cart_path(product), method: :delete, class: "btn btn-danger"%>
  <br/>
  <br/>
<% end %>

<p>Total before tax: <%= @total %></p>

<% if current_user %>
  <%= button_to "Checkout", checkout_create_path, class: "btn btn-primary" %>
  <%else %>
<%= link_to "Login"%> or <%= link_to "Register", new_user_registration_path %> to proceed to checkout %>
<% end %>