<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <%= link_to product_path(product) do %>
          <%= image_tag product.image, :class => "card-img-top", :size => '270x230' %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">CDN$<%= product.price %></h6>
          <p class="card-text"><%= product.description %></p>
          <% if @cart.include? (product)%>
          <%= %>
            <%else %>
          <%= button_to 'Add To Cart', add_to_cart_path(product.id), method: :post, :class =>'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>